@import "tailwindcss";

*{
    font-family:  "Roboto", sans-serif;
}

@theme{
    --color-primary:#3F52A0;
    --color-primary-light:#5263aa;
    --color-accent-color:#FFD63A;
    --color-primary-text:#d9dcec;
    --color-secondary-text:#131930;
    --color-primary-background:#131930;
}

