@import "tailwindcss";

*{
    font-family:  "Roboto", sans-serif;
}

@theme{
    --color-primary:#3A59D1;
    --color-primary-light:#3D90D7;
    --color-accent-color:#FFD63A;
    --color-primary-text:#B5FCCD;
    --color-secondary-text:#FFA955;
}

